In [1]:
#Load in the food inspection data provided by the city of Chicago

In [1]:
import numpy as np
import pandas as pd
import csv

In [3]:
food_inspect = pd.read_csv("Food_Inspections.csv")

In [4]:
#what's the size of the df? 
len(food_inspect)

216593

In [5]:
food_inspect.head()

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude,Location
0,2484856,VOLARE,VOLARE,2141813.0,Restaurant,Risk 1 (High),201 E GRAND AVE,CHICAGO,IL,60611.0,02/17/2021,Canvass,Out of Business,NaN,41.891652,-87.622604,"(-87.62260381408842, 41.89165221441017)"
1,2473041,ROSATI'S GRANT PARK,ROSATI'S,2762683.0,Restaurant,Risk 1 (High),23 E ADAMS ST,CHICAGO,IL,60603.0,01/22/2021,License,Pass,NaN,41.879391,-87.626848,"(-87.62684825563626, 41.879391313239694)"
2,2456537,ACE BOUNCE,ACE BOUNCE,2431682.0,Restaurant,Risk 1 (High),230 N CLARK ST,CHICAGO,IL,60601.0,11/12/2020,Non-Inspection,No Entry,NaN,41.886552,-87.631142,"(-87.63114162542584, 41.88655161219518)"
3,2454019,TACO MAYA,TACO MAYA,2757393.0,Catering,Risk 1 (High),5055 W DIVERSEY AVE,CHICAGO,IL,60639.0,10/29/2020,License,Not Ready,NaN,41.931328,-87.753683,"(-87.75368264650402, 41.93132774430297)"
4,2453550,BIAN,BIAN,2744751.0,Restaurant,Risk 1 (High),600 W CHICAGO AVE,CHICAGO,IL,60654.0,10/20/2020,License,Pass,NaN,41.896585,-87.642996,"(-87.64299618172501, 41.896585191199556)"

In [6]:
#convert inspection date to datetime object 
#year-month-day
food_inspect['Inspection Date'] = pd.to_datetime(food_inspect['Inspection Date'])
food_inspect.head()

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude,Location
0,2484856,VOLARE,VOLARE,2141813.0,Restaurant,Risk 1 (High),201 E GRAND AVE,CHICAGO,IL,60611.0,2021-02-17,Canvass,Out of Business,NaN,41.891652,-87.622604,"(-87.62260381408842, 41.89165221441017)"
1,2473041,ROSATI'S GRANT PARK,ROSATI'S,2762683.0,Restaurant,Risk 1 (High),23 E ADAMS ST,CHICAGO,IL,60603.0,2021-01-22,License,Pass,NaN,41.879391,-87.626848,"(-87.62684825563626, 41.879391313239694)"
2,2456537,ACE BOUNCE,ACE BOUNCE,2431682.0,Restaurant,Risk 1 (High),230 N CLARK ST,CHICAGO,IL,60601.0,2020-11-12,Non-Inspection,No Entry,NaN,41.886552,-87.631142,"(-87.63114162542584, 41.88655161219518)"
3,2454019,TACO MAYA,TACO MAYA,2757393.0,Catering,Risk 1 (High),5055 W DIVERSEY AVE,CHICAGO,IL,60639.0,2020-10-29,License,Not Ready,NaN,41.931328,-87.753683,"(-87.75368264650402, 41.93132774430297)"
4,2453550,BIAN,BIAN,2744751.0,Restaurant,Risk 1 (High),600 W CHICAGO AVE,CHICAGO,IL,60654.0,2020-10-20,License,Pass,NaN,41.896585,-87.642996,"(-87.64299618172501, 41.896585191199556)"

In [28]:
#all inspections since Jan 1, 2019
before_covid = food_inspect[food_inspect['Inspection Date'] > '2019-01-01']

In [29]:
#cut down so from jan 1, 2019 - march 1, 2020 
before_covid = before_covid[before_covid["Inspection Date"] < "2020-03-01"]
len(before_covid)

22104

In [30]:
#sort it by date
before_covid = before_covid.sort_values(by = ["Inspection Date"])

In [31]:
before_covid.head()

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude,Location
37611,2243958,FAMILY DOLLART #32124,FAMILY DOLLAR,2630979.0,Grocery Store,Risk 3 (Low),1633 W MONTEREY AVE,CHICAGO,IL,60643.0,2019-01-02,License,Not Ready,NaN,41.689432,-87.663014,"(-87.66301447393185, 41.689431926833365)"
38793,2243957,TWO MILE COFFEE BAR,TWO MILE COFEE BAR,2641611.0,Restaurant,Risk 2 (Medium),1766 W 95TH ST,CHICAGO,IL,60643.0,2019-01-02,License,Not Ready,NaN,41.721260,-87.667257,"(-87.66725709711507, 41.72126016238349)"
39041,2243961,MR. POLLO,MR. POLLO,2542966.0,Restaurant,Risk 1 (High),3026 W BELMONT AVE,CHICAGO,IL,60618.0,2019-01-02,Canvass,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.939467,-87.703811,"(-87.70381061827938, 41.93946745056518)"
39502,2243966,EL CENTENARIO SPORTS BAR & GRILL,EL CENTENARIO SPORTS BAR & GRILL,2270539.0,Restaurant,Risk 1 (High),4556 W ROOSEVELT RD,CHICAGO,IL,60624.0,2019-01-02,Canvass,Out of Business,NaN,41.866072,-87.739770,"(-87.73976972613504, 41.866071937099434)"
37922,2243960,AVONDALE TAP,AVONDALE TAP,2368771.0,Restaurant,Risk 1 (High),3634 W BELMONT AVE,CHICAGO,IL,60618.0,2019-01-02,Canvass,No Entry,NaN,41.939308,-87.718735,"(-87.71873540202452, 41.939307518988336)"

In [32]:
before_covid.tail()

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude,Location
18116,2363066,TAQUERIA LA MORENA,TAQUERIA LA MORENA,2717978.0,Restaurant,Risk 1 (High),4530 W AUGUSTA BLVD,CHICAGO,IL,60651.0,2020-02-28,License,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.898910,-87.739737,"(-87.73973687557414, 41.89890960102938)"
17346,2363087,ARTURO'S TACOS,ARTURO'S TACOS,17234.0,Restaurant,Risk 1 (High),2001 N WESTERN AVE,CHICAGO,IL,60647.0,2020-02-28,Canvass Re-Inspection,Pass,39. CONTAMINATION PREVENTED DURING FOOD PREPAR...,41.917608,-87.687264,"(-87.68726399716304, 41.91760789157746)"
19262,2363060,TBD,SHERIDAN 'L' LIQUORS AND LOUNGE,2712488.0,Liquor,Risk 3 (Low),3944-3946 N SHERIDAN RD,CHICAGO,IL,60613.0,2020-02-28,License,Pass,NaN,41.954060,-87.654680,"(-87.65468014494112, 41.95405970426544)"
15583,2363140,FARNSWORTH SCHOOL,FARNSWORTH SCHOOL,23161.0,School,Risk 1 (High),5414 N Linder (5500W),CHICAGO,IL,60630.0,2020-02-28,Canvass Re-Inspection,Pass,NaN,41.979809,-87.766108,"(-87.76610809089279, 41.97980919943396)"
18297,2363086,TASTY FAST FOOD & GROCERY,TASTY FAST FOOD & GROCERY,2559536.0,Restaurant,Risk 1 (High),6645 S HALSTED ST,CHICAGO,IL,60621.0,2020-02-28,Complaint Re-Inspection,Pass,NaN,41.772966,-87.644463,"(-87.6444630706756, 41.77296602950113)"

In [38]:
#inspect_subset.to_csv("inspect_rests.csv")
#still too big to upload to github. Maybe cutting down the columns will help?

In [33]:
before_covid = before_covid.drop(columns = ["Inspection ID", "License #", "Risk", "City", "State"])

In [34]:
before_covid.head()

,DBA Name,AKA Name,Facility Type,Address,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude,Location
37611,FAMILY DOLLART #32124,FAMILY DOLLAR,Grocery Store,1633 W MONTEREY AVE,60643.0,2019-01-02,License,Not Ready,NaN,41.689432,-87.663014,"(-87.66301447393185, 41.689431926833365)"
38793,TWO MILE COFFEE BAR,TWO MILE COFEE BAR,Restaurant,1766 W 95TH ST,60643.0,2019-01-02,License,Not Ready,NaN,41.721260,-87.667257,"(-87.66725709711507, 41.72126016238349)"
39041,MR. POLLO,MR. POLLO,Restaurant,3026 W BELMONT AVE,60618.0,2019-01-02,Canvass,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.939467,-87.703811,"(-87.70381061827938, 41.93946745056518)"
39502,EL CENTENARIO SPORTS BAR & GRILL,EL CENTENARIO SPORTS BAR & GRILL,Restaurant,4556 W ROOSEVELT RD,60624.0,2019-01-02,Canvass,Out of Business,NaN,41.866072,-87.739770,"(-87.73976972613504, 41.866071937099434)"
37922,AVONDALE TAP,AVONDALE TAP,Restaurant,3634 W BELMONT AVE,60618.0,2019-01-02,Canvass,No Entry,NaN,41.939308,-87.718735,"(-87.71873540202452, 41.939307518988336)"

In [35]:
#count number of duplicated restaurants, think I'll drop these but want to check first 
duplicated_names = before_covid.duplicated(subset=['DBA Name'])

In [36]:
duplicated_names.value_counts()
#lots of duplicates

True     11364
False    10740
dtype: int64

In [37]:
#since these are sorted by inspection date, I can drop the duplicates and I'll be dropping the older "out of date" values
#should be ending up with 10,740 unique food establishments prior to covid 
#want to keep the first occurence in the list as that's the most recent status (still before covid)
before_covid = before_covid.drop_duplicates('DBA Name', keep='first')

In [38]:
len(before_covid)

10740

In [40]:
#now let's see which ones are still open at the most recent version of pre-covid inspections 
before_covid.Results.value_counts()

Pass w/ Conditions      4536
Fail                    2290
Pass                    1793
Out of Business          948
No Entry                 803
Not Ready                366
Business Not Located       4
Name: Results, dtype: int64

In [41]:
before_covid = before_covid[before_covid.Results != "Out of Business"]

In [42]:
len(before_covid)

9792

In [44]:
#save the pre-covid dataset with all the still open businesses in 2019 - March 2020 period 
before_covid.to_csv("before_covid.csv")

In [45]:
###
#now to the restaurants after covid 
#all restaurants inspected after 3/1/2020 (in this format its year-month-day)
after_covid = food_inspect[food_inspect['Inspection Date'] > '2020-03-01']

In [46]:
len(after_covid)

13808

In [47]:
after_covid.head()

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude,Location
0,2484856,VOLARE,VOLARE,2141813.0,Restaurant,Risk 1 (High),201 E GRAND AVE,CHICAGO,IL,60611.0,2021-02-17,Canvass,Out of Business,NaN,41.891652,-87.622604,"(-87.62260381408842, 41.89165221441017)"
1,2473041,ROSATI'S GRANT PARK,ROSATI'S,2762683.0,Restaurant,Risk 1 (High),23 E ADAMS ST,CHICAGO,IL,60603.0,2021-01-22,License,Pass,NaN,41.879391,-87.626848,"(-87.62684825563626, 41.879391313239694)"
2,2456537,ACE BOUNCE,ACE BOUNCE,2431682.0,Restaurant,Risk 1 (High),230 N CLARK ST,CHICAGO,IL,60601.0,2020-11-12,Non-Inspection,No Entry,NaN,41.886552,-87.631142,"(-87.63114162542584, 41.88655161219518)"
3,2454019,TACO MAYA,TACO MAYA,2757393.0,Catering,Risk 1 (High),5055 W DIVERSEY AVE,CHICAGO,IL,60639.0,2020-10-29,License,Not Ready,NaN,41.931328,-87.753683,"(-87.75368264650402, 41.93132774430297)"
4,2453550,BIAN,BIAN,2744751.0,Restaurant,Risk 1 (High),600 W CHICAGO AVE,CHICAGO,IL,60654.0,2020-10-20,License,Pass,NaN,41.896585,-87.642996,"(-87.64299618172501, 41.896585191199556)"

In [48]:
#sort by date 
after_covid = after_covid.sort_values(by = ["Inspection Date"])
#drop extra columns 
after_covid = after_covid.drop(columns = ["Inspection ID", "License #", "Risk", "City", "State"])

In [49]:
#how many duplicates in this dataset?

,DBA Name,AKA Name,Facility Type,Address,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude,Location
18683,CATER TO YOU EVENTS & DROP OFFS,LEXINGTON BETTY SMOKEHOUSE,Restaurant,756 E 111th ST,60628.0,2020-03-03,Canvass,Pass w/ Conditions,2. CITY OF CHICAGO FOOD SERVICE SANITATION CER...,41.692976,-87.602665,"(-87.60266451724692, 41.69297593328423)"
17794,CUERNAVACA RESTAURANT INC,LA VACA,Restaurant,1160 W 18TH ST,60608.0,2020-03-03,Canvass,Fail,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,41.858074,-87.655800,"(-87.65579980518957, 41.85807383601942)"
19834,MARRIOTT CHICAGO MEDICAL DISTRICT,MARRIOTT CHICAGO MEDICAL DISTRICT,Restaurant,625 S ASHLAND AVE,60607.0,2020-03-03,Canvass,Pass w/ Conditions,49. NON-FOOD/FOOD CONTACT SURFACES CLEAN - Com...,41.873435,-87.666434,"(-87.66643368144297, 41.87343456580039)"
16377,HAUGAN ELEMENTARY,HAUGAN ELEMENTARY,School,4540 N Hamlin,60625.0,2020-03-03,Canvass Re-Inspection,Pass w/ Conditions,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,41.964035,-87.723165,"(-87.72316495595534, 41.96403524536502)"
16020,REDZ BELIZEAN RESTAURANT LLC,REDZ BELIZEAN RESTAURANT,Restaurant,7605 N PAULINA ST,60626.0,2020-03-03,Canvass,Pass w/ Conditions,39. CONTAMINATION PREVENTED DURING FOOD PREPAR...,42.019582,-87.672953,"(-87.6729527562549, 42.01958215883253)"

In [50]:
after_duplicated_names = after_covid.duplicated(subset=['DBA Name'])
after_duplicated_names.value_counts()
#this is going to make the dataset much smaller than the pre-covid one 
#makes sense as there's likely fewer resources to fully inspect as they had the previous year

False    7856
True     5952
dtype: int64

In [51]:
#keep most recent inspection results 
after_covid = after_covid.drop_duplicates('DBA Name', keep='first')

In [52]:
len(after_covid)

7856

In [53]:
#of these how many are closed? 
after_covid.Results.value_counts()
#1,039 are now out of business

Pass                  2335
Pass w/ Conditions    1938
Fail                  1676
Out of Business       1039
No Entry               659
Not Ready              209
Name: Results, dtype: int64

In [54]:
#save the dataset with all food places inspected since 3/1/2020 (includes open AND closed businesses)
after_covid.to_csv("after_covid.csv")

In [55]:
#now let's specifically look at the ones that are closed and see how that compares to their status last year 
now_closed = after_covid[after_covid.Results == "Out of Business"]

In [56]:
len(now_closed)

1039

In [69]:
#save the restaurants that have been marked as closed within the past year 
now_closed.to_csv("now_closed.csv")

In [60]:
#merge this with the before data set to get just the closed restaurants and their prior status
#I think this means a left merge
merged_closed = now_closed.merge(before_covid, how='left', on= "DBA Name", suffixes = ("_after", "_before"))

In [61]:
len(merged_closed)

1039

In [62]:
merged_closed.head()

,DBA Name,AKA Name_after,Facility Type_after,Address_after,Zip_after,Inspection Date_after,Inspection Type_after,Results_after,Violations_after,Latitude_after,...,Facility Type_before,Address_before,Zip_before,Inspection Date_before,Inspection Type_before,Results_before,Violations_before,Latitude_before,Longitude_before,Location_before
0,THAI PASTRY RESTAURANT,THAI PASTRY RESTAURANT,Restaurant,4925 N BROADWAY,60640.0,2020-03-03,Canvass,Out of Business,NaN,41.972214,...,Restaurant,4925 N BROADWAY,60640.0,2019-04-30,Complaint,Pass,"55. PHYSICAL FACILITIES INSTALLED, MAINTAINED ...",41.972214,-87.659609,"(-87.6596091001073, 41.97221355699091)"
1,EXQUISITE CATERING & EVENTS LLC,ONE ELEVEN FOOD HALL,Restaurant,756 E 111TH ST,60628.0,2020-03-03,Canvass,Out of Business,NaN,41.692976,...,Restaurant,756 E 111TH ST,60628.0,2019-04-23,License,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.692976,-87.602665,"(-87.60266451724692, 41.69297593328423)"
2,EGG ROLLS ETC,EGG ROLLS ETC,Catering,700 E 100TH PL,60628.0,2020-03-03,Canvass,Out of Business,NaN,41.712433,...,Catering,700 E 100TH PL,60628.0,2019-03-05,Canvass,Pass w/ Conditions,49. NON-FOOD/FOOD CONTACT SURFACES CLEAN - Com...,41.712433,-87.605359,"(-87.60535893666004, 41.71243329870023)"
3,VAL'S KOSHER KITCHEN (CW),VAL'S KOSHER KITCHEN (CW),Restaurant,819 S PULASKI RD,60624.0,2020-03-04,Canvass,Out of Business,NaN,41.870313,...,Restaurant,819 S PULASKI RD,60624.0,2019-05-31,Canvass,Pass,49. NON-FOOD/FOOD CONTACT SURFACES CLEAN - Com...,41.870313,-87.725181,"(-87.72518069082456, 41.870313437951935)"
4,LINCOLN QUALITY MEAT MARKET INC.,LINCOLN QUALITY MEAT MARKET INC.,Grocery Store,4661 N LINCOLN AVE,60625.0,2020-03-04,Canvass,Out of Business,NaN,41.966570,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
#were all the now closed restaurants included in the before data set? 
merged_closed.count()
#so about half of these restaurants weren't included in the original data set?

DBA Name                  1039
AKA Name_after            1009
Facility Type_after        944
Address_after             1039
Zip_after                 1039
Inspection Date_after     1039
Inspection Type_after     1039
Results_after             1039
Violations_after             2
Latitude_after            1038
Longitude_after           1038
Location_after            1038
AKA Name_before            483
Facility Type_before       484
Address_before             489
Zip_before                 489
Inspection Date_before     489
Inspection Type_before     489
Results_before             489
Violations_before          386
Latitude_before            489
Longitude_before           489
Location_before            489
dtype: int64

In [63]:
merged_closed.Results_before.value_counts()
#good so none were closed before the pandemic

Pass w/ Conditions    225
Fail                  110
No Entry               72
Pass                   63
Not Ready              19
Name: Results_before, dtype: int64

In [70]:
#what happens when we try merging the results of the before and after covid data sets? - all of the restaurants 
#try to identify both the ones that are actively closed and ones that weren't/couldn't be inspected in 2020 (might be closed?)
#perserve all values = outer join
merged_all = before_covid.merge(after_covid, how='outer', on= "DBA Name", suffixes = ("_before", "_after"))

In [71]:
len(merged_all)

12222

In [72]:
merged_all.count()
#so there are fewer restaurants examined in 2020
#around 1,936 fewer restaurants examined and this doesn't include missings!
#let's search for these restaurants too?

DBA Name                  12222
AKA Name_before            9742
Facility Type_before       9754
Address_before             9792
Zip_before                 9792
Inspection Date_before     9792
Inspection Type_before     9792
Results_before             9792
Violations_before          8115
Latitude_before            9750
Longitude_before           9750
Location_before            9750
AKA Name_after             7801
Facility Type_after        7728
Address_after              7856
Zip_after                  7854
Inspection Date_after      7856
Inspection Type_after      7856
Results_after              7856
Violations_after           5470
Latitude_after             7831
Longitude_after            7831
Location_after             7831
dtype: int64

In [80]:
merged_all.to_csv("merged_all.csv")

In [74]:
#select those restaurants that are NaN for results after but had information in 2019 
missing_after = merged_all[merged_all['Results_after'].isna()]

In [75]:
len(missing_after)
#why is this longer than I was expecting?

4366

In [78]:
missing_after.head(30)

,DBA Name,AKA Name_before,Facility Type_before,Address_before,Zip_before,Inspection Date_before,Inspection Type_before,Results_before,Violations_before,Latitude_before,...,Facility Type_after,Address_after,Zip_after,Inspection Date_after,Inspection Type_after,Results_after,Violations_after,Latitude_after,Longitude_after,Location_after
0,FAMILY DOLLART #32124,FAMILY DOLLAR,Grocery Store,1633 W MONTEREY AVE,60643.0,2019-01-02,License,Not Ready,NaN,41.689432,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
5,CARMELO'S TACO PLACE,CARMELO'S TACO PLACE,Restaurant,2746 W 59TH ST,60629.0,2019-01-02,License,Not Ready,NaN,41.786528,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
7,91st South Chicago Apts.,MAHALIA JACKSON,Golden Diner,9177 S SOUTH CHICAGO AVE,60617.0,2019-01-02,Canvass,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.728634,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
10,MAGGIE GYROS & CHICKEN,MAGGIE GYROS & CHICKEN,Restaurant,349 E 47TH ST,60653.0,2019-01-02,Canvass,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.809257,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
11,REMIS BARBEQUE AND CHICKEN,REMIS BARBEQUE AND CHICKEN,Restaurant,3715 W ROOSEVELT RD,60624.0,2019-01-02,Canvass,No Entry,NaN,41.866151,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
13,MORENA'S KITCHEN,MORENA'S KITCHEN,Restaurant,5054 W Armitage AVE,60639.0,2019-01-03,Canvass,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.916955,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
17,ERNST PRUSSING ELEMENTARY SCHOOL,ERNST PRUSSING ELEMENTARY SCHOOL,School,4650 N Menard (5800W),60630.0,2019-01-03,Canvass,Pass w/ Conditions,5. PROCEDURES FOR RESPONDING TO VOMITING AND D...,41.965611,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
19,"11 DINING, LLC",NORTHERN TRUST FOOD HALL,Restaurant,50 S LA SALLE ST,60603.0,2019-01-03,Canvass,Pass,47. FOOD & NON-FOOD CONTACT SURFACES CLEANABLE...,41.880705,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
27,DELI & MORE,DELI & MORE,Grocery Store,330 W DIVERSEY PKWY,60657.0,2019-01-03,Canvass,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.933042,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
31,WINDY CITY PLAYHOUSE,WINDY CITY PLAYHOUSE,Liquor,2229 S MICHIGAN AVE,60616.0,2019-01-03,License Re-Inspection,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.852019,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
32,JAMMY BURGER,JAMMY BURGER,Restaurant,7301 S KEDZIE AVE,60629.0,2019-01-03,License Re-Inspection,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.760806,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
34,THE SCOUT,THE SCOUT,Restaurant,1301 S WABASH AVE,60605.0,2019-01-03,Canvass Re-Inspection,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.865677,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
37,BURGER FEDERATION L S L21,BURGER FEDERATION (T3 L21),Restaurant,11601 W TOUHY AVE,60666.0,2019-01-03,License,Pass,NaN,42.008536,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
40,ROOM 12,BONGO ROOM,Restaurant,1152 S WABASH AVE,60605.0,2019-01-03,Canvass Re-Inspection,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.867694,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
42,HEALTHCARE ALTERNATIVE SYSTEMS,HEALTHCARE ALTERNATIVE SYSTEMS,Restaurant,1949 N HUMBOLDT BLVD,60647.0,2019-01-03,Canvass Re-Inspection,Pass,NaN,41.917073,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
44,"MANOLOS TAMALES, INC. #1","MANOLOS TAMALES, INC. #1",Restaurant,5341 S KEDZIE AVE,60632.0,2019-01-03,Canvass,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.795957,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
45,LA LUNA,LA LUNA,Restaurant,1726 S RACINE AVE,60608.0,2019-01-03,License,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.857996,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
46,LA TORTA CHILANGA #2,LA TORTA CHILANGA #2,Restaurant,5407 S KEDZIE AVE,60632.0,2019-01-03,Canvass,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.795108,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
47,"Northern Trust Bank, Executive Dining","Northern Trust Bank, Executive Dining",Restaurant,50 S LA SALLE ST,60603.0,2019-01-03,Canvass,Pass,"44. UTENSILS, EQUIPMENT & LINENS: PROPERLY STO...",41.880705,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
49,A&S BEVERAGE,A&S BEVERAGE,Liquor,5058 S HALSTED ST,60609.0,2019-01-03,License,Pass w/ Conditions,5. PROCEDURES FOR RESPONDING TO VOMITING AND D...,41.801628,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
50,TAQUERIA MI LINDA HACIENDA INC.,TAQUERIA MI LINDA HACIENDA,Restaurant,4406-4408 W ARMITAGE AVE,60639.0,2019-01-03,Canvass,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.917151,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
52,HERMOSA,HERMOSA,Restaurant,4356 W ARMITAGE AVE,60639.0,2019-01-03,Canvass,No Entry,NaN,41.917156,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
53,BAR LORRAINE'S,BAR LORRAININE'S,TAVERN,8858 S ASHLAND AVE,60620.0,2019-01-03,License,Not Ready,NaN,41.732276,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
55,The Dark Horse Tap and Grill,The Dark Horse Tap and Grill,Restaurant,3443 N SHEFFIELD AVE,60657.0,2019-01-03,Canvass,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.944837,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
56,NEW TEA GARDEN CHOP SUEY,NEW TEA GARDEN CHOP SUEY,Restaurant,11342 S MICHIGAN AVE,60628.0,2019-01-03,Canvass,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.687698,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
57,ROLANDO TACO'S,ROLANDO TACO'S,Restaurant,2322 N CICERO AVE,60639.0,2019-01-03,Canvass,No Entry,NaN,41.923103,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
58,DELISH DINER,PICANTE TAQUERIA,Restaurant,2018 W DIVISION ST,60622.0,2019-01-03,Canvass,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.903286,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
63,Whole Foods Market,Whole Foods Market,Grocery Store,959 W FULLERTON AVE,60614.0,2019-01-03,Canvass,Pass,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,41.925268,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
70,FREDY'S INN,FRANK & MARY'S,Restaurant,2905 N ELSTON AVE,60618.0,2019-01-03,Canvass,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.934168,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
71,FRUTERIA ANDY #2,FRUTERIA ANDY #2,Grocery Store,2458 S SPRINGFIELD AVE,60623.0,2019-01-03,License,No Entry,NaN,41.846213,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
#save this and we can look into it
missing_after.to_csv("missing_after.csv")

In [66]:
###
#let's see how many duplicated restaurants in the original data set 
total_duplicated = food_inspect.duplicated(subset=['DBA Name'])
total_duplicated.value_counts()

True     187764
False     28829
dtype: int64

In [67]:
unique_rest = food_inspect.drop_duplicates('DBA Name', keep='first')

In [68]:
len(unique_rest)

28829